*.class
*.log

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*


.idea/**
!.idea/fileTemplates
!.idea/fileTemplates/*.scala
!.idea/fileTemplates/includes
!.idea/fileTemplates/includes/*.scala
.bsp
.bloop
.metals
.vscode
metals.sbt

target/

/*/lib/

# MacOS
.DS_Store

# mill
/out/

# Environment variables
.env